language: generic

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: false
      addons:
        apt:
          sources:
            - sourceline: deb [arch=amd64] https://packages.microsoft.com/ubuntu/14.04/prod trusty main
              key_url: https://packages.microsoft.com/keys/microsoft.asc
          packages:
            - powershell
      before_install:
        - pwsh -c 'Set-PSRepository -Name PSGallery -InstallationPolicy Trusted'
        - pwsh -c 'Install-Module Pester -Scope CurrentUser'
    - os: osx
      before_install:
        - brew update
        - brew tap caskroom/cask
        - brew cask install powershell
        - pwsh -c 'Set-PSRepository -Name PSGallery -InstallationPolicy Trusted'
        - pwsh -c 'Install-Module Pester -Scope CurrentUser'

script:
  - pwsh -c 'Import-Module Pester; Invoke-Pester -EnableExit'
